Options MultiViews
AddDefaultCharset on
AddCharset iso-8859-1 .css
DirectoryIndex index
AddType text/html .de
AddType text/html .en
AddType text/html .fr
AddType text/html .nl
AddType application/x-netsurf-theme .theme
ErrorDocument 406 /406.php
