# While www.netsurf-browser.org is hosted at Pepperfish, and therefor served
# by Zeus, this file has no effect.  Talk to Rob Kendrick or Daniel Silverstone
# if you need functionality changed.
Options MultiViews
#AddDefaultCharset on # Causes lots of warnings on octopus
AddCharset iso-8859-1 .css
DirectoryIndex index
AddType text/html .de
AddType text/html .en
AddType text/html .fr
AddType text/html .nl
AddType application/x-netsurf-theme .theme
ErrorDocument 406 /errors/406.php
