html, body { margin: 0; padding: 0; }
h1 { margin: 0; padding: 0; background-color: #94adff;
	border-bottom: medium solid black;
	color: black; text-align: left; }
h1 img { vertical-align: middle; }
h1, h2 { font-family: sans-serif; }
h2, p { margin: 5mm; }
h2, .footer { padding-top: 5mm; border-top: thin solid black; }
.screenshot { text-align: center; }
.footer { font-size: 80%; }
.footer img { float: right; border: none; }

